<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>John Zlotek's Site</title>
    <meta name="description" content="John Zlotek's Personal Website">
    {% block head %}{% endblock %}
    <link href="{{ url_for('static', path='css/main.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='css/util.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='fonts/SpaceMono-Regular.css') }}" rel="preload">
    <link rel="shortcut icon" href="{{ url_for('static', path='img/favicon.ico') }}">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-170470695-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-170470695-1');
    </script>
</head>
{% include "nav.html" %}
<body>
    <main>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </main>
</body>
</html>
