{% if posts %}
<table class="center full justify my-5">
    {% for key, value in posts.items() | sort(attribute='1.date', reverse=True) %}
        <tr class="flex">
            <td>
            <a href="/blog/{{ key }}" class="link-rounded pb-1">
                <span class="color-accent neon-hover">{{ value.date }}:</span>
                <span class="px-2"></span><span class="color-white neon-hover">{{ value.title }}</span>
                {%- set time = (value.words / 238) | round(method='ceil') | int  -%}
                <span class="px-2"> | {{ '<' if (value.words / 238) < 1 else '' }}{{ time }} minute{{ 's' if time > 1 else '' }}</span>
            </a>
            </td>
        </tr>
    {% endfor %}
</table>
{% else %}
<div class="row text-lowercase">
    <p class="h1">Nothing here yet! Check back soon.</h1>
</div>
{% endif %}
