{% extends "base.html" %}

{% block content %}
<div class="center full justify">
    {% if posts %}
    <ul class="flex flex-v full-container">
        {% for key, value in posts.items() | reverse %}
            <a href="/blog/{{ key }}" class="link-rounded link-item navbar-link">
                <p class="text-danger">{{ value.date }}</p>|<p>{{ value.title }}</p>
            </a>
        {% endfor %}
    </ul>
    {% else %}
    <div class="row text-lowercase">
        <p class="h1">Nothing here yet! Check back soon.</h1>
    </div>
    <div class="row">
        <a class="h2" href="{{ url_for('index') }}"><p>home</p></a>
    </div>
    {% endif %}

</div>
{% endblock %}