{% extends "base.html" %}

{% block content %}
<div class="center full justify">
    <div class="full-container flex flex-v">
        <div class="py-3">
            <div class="main-content">
                <p class="main-text">> John Zlotek</p>
                <p class="main-text">> </p>
                <p class="main-text">> i use artix btw.</p>
                <p class="main-text">> Resume: <a href="https://github.com/jzlotek/resume/raw/master/resume.pdf" target="_blank" rel="noopener" class="resume-link">📄︁</a> </p>
                <p class="main-text">> GitHub: <a href="https://github.com/jzlotek" target="_blank" rel="noopener" class="github-link"><img src="{{ url_for('static', filename='img/gh.svg') }}" alt="GitHub Logo"></a> </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
