<header>
    <nav class="container">
        <ul class="navbar flex">
            <li class="navbar-item"><a class="navbar-link" href="{{ url_for('blog') }}">blg</a></li>
            <li class="navbar-item"><a class="navbar-link" href="{{ url_for('projects') }}">prjcts</a></li>
            <li class="navbar-item"><a class="navbar-link" href="https://github.com/jzlotek" target="_blank" rel="noopener">gh</a></li>
            <li class="navbar-item"><a class="navbar-link" href="{{ url_for('index') }}">jz</a></li>
        </ul>
    </nav>
</header>
