
$colors: (
  "bg": #363537,
  // "bg": #0A0B0D,
  "muted": #A4A5AE,
  // "muted": #4D4F49,
  "white": #B0C7BD,
  // "white": #F0F3F2,
  "accent": #907F9F,
  // "purple": #6F1CB0,
  "eminence": #5D2077
);

@mixin neon($name) {
    $c: lighten(map-get($colors, $name), 5%);
    text-shadow:
        0 0 7px $c,
        0 0 10px $c,
        0 0 21px $c;
}

@mixin neon-inherit {
    $c: currentcolor;
    text-shadow:
        0 0 7px $c,
        0 0 10px $c,
        0 0 21px $c;
}

@each $name, $color in $colors {
    .color-#{$name} {
        color: #{$color};
    }
}

@mixin hover() {
    &:hover, &:focus &:focus-within {
        @content;
    }
}
