@import "colors";

.post {
    &-inner {
        padding-top: 1em;
        & > h1,h2,h3,h4 {
            padding-left: 0.5em;
            color: map-get($colors, "white");
        }
        & > h1::before {
            content: "# ";
            color: map-get($colors, "accent");
        }
        & > h2::before {
            content: "## ";
            color: map-get($colors, "accent");
        }
        & > h3::before {
            content: "### ";
            color: map-get($colors, "accent");
        }
        & > h4::before {
            content: "#### ";
            color: map-get($colors, "accent");
        }
        & > p {
            padding: 1em 0.5em;
        }
    }

    .post-inner > &-title {
        font-size: 1em;
        color: map-get($colors, "white");
        padding-bottom: 0.5em;
    }
}
