@mixin breakpoint($size) {
    $desktop-min: 900px;
    $tablet-min: 768px;
    $mobile-min: 480px;
    
    @if $size == 'mobile' {
        @media only screen and (max-width: $mobile-min) {
            @content;
        }
    } @else if $size == 'tablet' {
        @media only screen and (min-width: $tablet-min) {
            @content;
        }
    } @else if $size == 'desktop' {
        @media only screen and (min-width: $desktop-min) {
            @content;
        }
    }
}