$link-hover: #e00a0a;
$link-selected: #a10a0a;
$text-link-color: #a33b3b;
$text-color: #2c3e50;
$background: #c7c7c7;
$background-dark: #222222;

$bg: #252429;
$bg2: #1c3e51;

$accent: #508090;
$accent2: #94a8a8;

$font: #e7dfdd;
$font2: #bbbdb2;

$accent-bold: #4717f6;
$accent-bold2: #b82601;

$black: #000000;
